body{
    display: grid;
    grid-template-areas: 
    'createQuotes createQuotes'
    'createQuotes createQuotes'
    'resultCategorie resultCategorie';
    background-color: black;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.createQuotes{
    grid-area: createQuotes;
    border-right: 1px solid white;
}

.resultCategorie{
    grid-area: resultCategorie;
}