body{
    display: grid;
    grid-template-areas: 
    'createQuotes createQuotes createCategories createCategories'
    'createQuotes createQuotes createCategories createCategories'
    'resultCategorie resultCategorie resultNewCategorie resultNewCategorie';
    background-color: black;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.createQuotes{
    grid-area: createQuotes;
    border-right: 1px solid white;
}

.createCategories{
    grid-area: createCategories;
}

.resultCategorie{
    grid-area: resultCategorie;
}

.resultNewCategorie{
    grid-area: resultNewCategorie;
}