body{
    display: grid;
    grid-template-areas: 
    'createQuotes createQuotes createCategories createCategories'
    'createQuotes createQuotes createCategories createCategories'
    'createQuotes createQuotes createCategories createCategories';
    background-color: black;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.createQuotes{
    grid-area: createQuotes;
}

.createCategories{
    grid-area: createCategories;
}